* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    background-color: rgb(158, 101, 211);
    padding: 16px 0;
    color: aliceblue;
    display: flex;
    border-bottom: 8px solid rgb(125, 89, 161);
    justify-content: center;
    text-transform: uppercase;
}

header button {
    margin-left: 16px;
    border-radius: 10px;
}

form {
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
    display: none;
}

form , h2 {
    margin-bottom: 16px;
    text-transform: uppercase;
}

input, button {
    padding: 8px;
}

button {
    background-color: #199743;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: aliceblue;
}

#button-clear {
    background-color: rgb(163, 33, 33);
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 280px;
    overflow: hidden;
}

ul li img {
    width: 100%;
}

.overlay-images-link {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease 0.5s;
}

.overlay-images-link a {
    color: aliceblue;
    text-decoration: none;
}

ul li:hover .overlay-images-link {
    opacity: 1;
}